.m-home {
  padding-top: $header-height;

  @media screen and (min-width: 768px) {
    padding-top: $header-height-web;
  }
  .section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem $side-indent;

    @media screen and (min-width: 768px) {
      padding: 2rem $side-indent-web;
    }

    .title-line {
      width: 8rem;
      height: 2px;

      background-color: $smart-yellow;

      margin-bottom: 1rem;
    }

    .section-title {
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      color: #707070;
      letter-spacing: 3px;
      line-height: 3rem;

      margin-bottom: 2rem;
    }
  }

  .cover {
    height: 80vh;

    justify-content: center;

    background-color: #ccc;

    text-align: center;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    .title {
      display: flex;
      flex-direction: row;

      font-size: 3rem;
      line-height: 4rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5rem;

      @media screen and (min-width: 768px) {
        font-size: 4rem;
      }

      .green {
        color: $smart;
      }

      .white {
        color: #fff;
      }
    }

    .title-img {
      width: 100%;
      height: 4rem;

      background-size: contain;
      background-position: center;
      background-origin: content-box;
      background-repeat: no-repeat;
    }

    .divider {
      width: 60%;
      height: 2px;

      background-color: $smart-yellow;

      margin: 1rem 0;

      @media screen and (min-width: 768px) {
        width: 12rem;
      }
    }

    .description {
      width: 100%;
      line-height: 2rem;
      font-size: 1.2rem;

      color: #fff;
    }
  }

  .about-us {
    width: 100%;
    overflow-x: hidden;

    .ctn {
      flex-grow: 1;
      width: 300%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      transition: 0.5s ease-in-out;
      transform: translateX(33%);

      @media screen and (min-width: 768px) {
        width: 100%;
        transform: translateX(0);
      }

      .item {
        width: 30%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        text-align: center;
        background-color: $smart;

        padding: 2rem;

        .title {
          font-size: 1.5rem;
          color: #fff;

          line-height: 2.5rem;
          margin-bottom: 0.5rem;
        }

        .icon {
          width: 60%;
          padding-bottom: 60%;

          flex-shrink: 0;

          background-size: 80%;
          background-position: center;
          background-repeat: no-repeat;
        }

        .divider {
          width: 2rem;
          height: 2px;

          background-color: $smart-yellow;

          margin: 1rem 0;
        }

        .desc-ctn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 15rem;

          .description {
            color: #fff;
            font-size: 1rem;
            font-weight: lighter;

            line-height: 1.4rem;
          }
        }
      }
    }
  }

  .program {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    .ctn {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      .item {
        width: 100%;
        height: 13rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 $side-indent;

        cursor: pointer;
        transition: 0.5s ease-in-out;

        position: relative;

        @media screen and (min-width: 768px) {
          padding: 0 $side-indent-web;
        }

        &::after {
          content: "";
          width: calc(100% - 1.5rem);
          height: calc(100% - 1.5rem);

          position: absolute;
          top: calc(0.75rem - 3px);
          left: calc(0.75rem - 3px);

          border: 3px solid #fff;

          opacity: 0;
          z-index: 5;

          transition: 0.5s ease-in-out;
        }

        &:hover {
          background-color: rgba($color: $smart, $alpha: 0.8);

          &::after {
            opacity: 1;
          }
        }

        .title {
          color: #fff;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 3px;
          text-align: center;

          @media screen and (min-width: 768px) {
            font-size: 1.5rem;
          }

          br {
            display: unset;

            @media screen and (min-width: 768px) {
              display: none;
            }
          }
        }

        .notation {
          color: $smart-yellow;
          text-transform: uppercase;
          letter-spacing: 3px;

          margin-top: 0.5rem;
        }
      }
    }
  }

  .contact-us {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    .ctn {
      width: calc(100% - #{$side-indent});

      display: flex;
      flex-direction: column;

      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        width: calc(100% - #{$side-indent-web});
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .divider {
        display: none;

        @media screen and (min-width: 768px) {
          displauy: unset;
          height: 12rem;
          width: 1px;
          align-self: flex-start;

          background-color: $smart;

          margin: 0 1rem;
        }
      }

      .item {
        width: 100%;
        height: 6rem;

        display: flex;
        flex-direction: row;

        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          width: 25%;
          flex-direction: column;
          align-items: center;
          height: 15rem;

          margin-bottom: 0;
        }

        .icon {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;

          background-color: $smart;

          margin-right: 1rem;
          padding: 1.75rem;
          background-origin: content-box;

          @media screen and (min-width: 768px) {
            margin-right: 0;
          }
        }

        .info {
          flex-grow: 1;
          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;

          @media screen and (min-width: 768px) {
            height: unset;
            text-align: center;
          }

          .title {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
          }

          @media screen and (min-width: 768px) {
            .value {
              line-height: 1.2rem;

              height: 4.8rem;

              &.short {
                line-height: 4.8rem;
              }
            }
          }
        }
      }
    }

    .map-ctn {
      width: 100%;
      height: 15rem;

      background-size: cover;
      background-color: #eee;

      .frame {
        width: 100%;
        height: 100%;
      }
    }
  }

  .fill-your-info {
    .ctn {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .image {
        display: none;
        @media screen and (min-width: 768px) {
          display: unset;
          width: 45%;
          height: 30rem;

          background-image: none !important;

          position: relative;

          &::before {
            content: "";
            width: 180%;
            height: 120%;

            position: absolute;
            left: -25%;
            top: -10%;
            background-image: url("/images/main-page/form.png");
            background-size: contain;
            background-position: center;
            background-origin: content-box;
            background-repeat: no-repeat;

            z-index: -5;
          }
        }
      }

      .form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
          width: 45%;
        }

        .input {
          width: 100%;
          height: 3rem;
          line-height: 3rem;

          outline: unset;
          border: unset;

          border-bottom: 1px solid #ccc;
          background-color: unset;

          margin-bottom: 1rem;

          &.text {
            resize: none;
          }
        }

        .submit {
          width: 10rem;
          height: 3rem;
          line-height: 2rem;
          align-self: flex-end;

          outline: unset;
          border: unset;
          border-radius: 1.5rem;

          text-align: center;
          font-weight: bold;

          background-color: $smart;
          color: #fff;

          position: relative;
        }
      }
    }
  }

  .partnership {
    .ctn {
      display: flex;
      flex-direction: row;

      padding-bottom: 5rem;

      font-size: 0.5rem;

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
      .item {
        display: flex;
        flex-direction: row;

        & + .item {
          margin-left: 1em;
        }

        .logo {
          width: 6em;
          height: 6em;

          & + .logo {
            margin-left: 1em;
          }

          &.CBRD {
            width: 17em;
          }

          &.smart {
            width: 9em;
          }
        }
      }
    }
  }
}
