.m-home.kh {
  .about-us {
    .ctn {
      .item {
        .desc-ctn {
          height: 18rem;
        }
      }
    }
  }

  .contact-us{
    .ctn{
      .item{
        .info{
          .value{
            line-height: 1.6rem;
            
            height: 4.8rem;

            &.short{
              line-height: 4.8rem;
            }
          }
        }
      }
    }
  }
}
