@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);body.admin {
  padding: 0;
}

.admin .capitalize {
  text-transform: capitalize;
}

.admin .bold {
  font-weight: bold;
}

.admin nav a.nav {
  font-size: 1.2rem;
}

.admin nav a.nav.logo {
  width: 10rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.admin .dashboard .covers {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.admin .dashboard .covers .card {
  flex-basis: 18%;
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.admin .dashboard .covers .card .image {
  width: 100%;
  padding-bottom: 100%;
  background-color: #eee;
  margin-bottom: 1rem;
}

.admin .dashboard .covers .card .input {
  margin-bottom: 1rem;
}

.admin .dashboard .covers .card.portfolio {
  flex-basis: 100%;
}

.admin .dashboard .covers .card.portfolio .image {
  height: 10rem;
  padding-bottom: 0;
}

.admin .application {
  padding: 2rem;
  font-size: 1.2rem;
}

.admin .application .link {
  font-weight: bold;
  color: #009a3e;
  cursor: pointer;
}

.admin .application .question,
.admin .application .label {
  font-weight: bold;
}

.admin .application .answer {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
  font-size: 0.8rem;
  color: #404040;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

