@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Kantumruy:300,400,700&display=swap);.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 0 10px #aaa;
}

@media screen and (min-width: 768px) {
  .header {
    height: 4rem;
  }
}

.header .logo {
  width: 10rem;
  height: 100%;
  cursor: pointer;
}

.header .menu {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  right: -12rem;
  top: 4rem;
  background-color: #fff;
  transition: 0.35s ease-in-out;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .header .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
  }
}

.header .menu.ulp {
  right: -14rem;
}

.header .menu.active {
  right: 0;
  box-shadow: -3px 3px 4px -4px #aaa;
}

.header .menu .item {
  line-height: 4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .header .menu .item {
    line-height: 4rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }
}

.header .menu .item.highlight {
  color: #fff;
  position: relative;
}

.header .menu .item.highlight::before {
  content: "";
  width: 140%;
  height: 2rem;
  background-color: #009a3e;
  border-radius: 1rem;
  position: absolute;
  left: -20%;
  top: calc((4rem - 2rem)/ 2);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .header .menu .item.highlight::before {
    top: calc((4rem - 2rem) / 2);
  }
}

.header .menu .item.lang {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  background-origin: content-box;
}

.header .menu .item:hover {
  box-shadow: unset;
}

.header .menu .item[data-scrolled-passed=true] {
  text-shadow: 0 0 1px #000;
  position: relative;
}

.header .menu .item[data-scrolled-passed=true]::before {
  content: "";
  width: 2rem;
  height: 3px;
  background-color: #ffd300;
  position: absolute;
  top: 0.5rem;
  left: 0rem;
}

@media screen and (min-width: 768px) {
  .header .menu .item[data-scrolled-passed=true]::before {
    top: 1rem;
  }
}

.header .menu-btn {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  text-align: center;
  background-image: url("/images/client/menu.png");
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding: 0.5rem;
  transition: 0.35s ease-in-out;
}

@media screen and (min-width: 768px) {
  .header .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .kh .header .menu .item::before {
    top: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Kantumruy", sans-serif;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

html {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}

/* html.khmer {
  font-size: .4rem
} */

body {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.cover {
  background-size: cover;
}

.btn {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.alert {
  height: 3rem;
  max-height: 0;
  background-color: #009a3e;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  -webkit-animation: alert 5s ease-in-out;
          animation: alert 5s ease-in-out;
  padding: 0 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@-webkit-keyframes alert {
  0% {
    max-height: 0px;
  }

  10% {
    max-height: 3rem;
  }

  90% {
    max-height: 3rem;
  }

  100% {
    max-height: 0;
  }
}

@keyframes alert {
  0% {
    max-height: 0px;
  }

  10% {
    max-height: 3rem;
  }

  90% {
    max-height: 3rem;
  }

  100% {
    max-height: 0;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

.footer {
  width: 100%;
  height: 12rem;
  background-color: #009a3e;
  position: relative;
  padding: 2rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 8rem;
  }
}

.footer::before {
  content: "";
  background-color: #fff;
  transform: scale(-1, 1) skewY(30deg);
  width: 60px;
  height: 60px;
  position: absolute;
  top: -45px;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .footer::before {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -90px;
    left: 0;
  }
}

.footer .page-identifier {
  background-color: #ffd300;
  color: #fff;
  line-height: 2rem;
  padding: 0 0.75rem;
  padding-bottom: 3rem;
  position: absolute;
  top: -2.25rem;
  right: 20px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .footer .page-identifier {
    right: unset;
    left: 120px;
  }
}

.footer .ctn {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .footer .ctn {
    flex-direction: row;
    padding-left: 5rem;
  }
}

.footer .ctn .item {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 30%;
}

.footer .ctn .item .row {
  display: flex;
  flex-direction: row;
}

.footer .ctn .item .row .icon {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer .ctn .item .row .icon.yt {
  width: 3rem;
}

.footer .smart-footer {
  width: 10rem;
  height: 5rem;
  text-align: center;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

@media screen and (min-width: 768px) {
  .footer .smart-footer {
    top: unset;
    bottom: 1rem;
  }
}

.footer .copyright {
  width: 20rem;
  color: #fff;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 10rem);
}

.floating-btn {
  height: 3.5rem;
  width: 20rem;
  border-radius: 1.75rem;
  background-color: #ffd300;
  box-shadow: 0 0 10px #888;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 0 1rem;
  cursor: pointer;
}

.floating-btn.kh.right {
  transform: translateX(11rem);
  right: -6rem;
}

.floating-btn.kh.left {
  left: -6rem;
  transform: translateX(-11rem);
}

.floating-btn.right {
  right: -8rem;
  bottom: 2rem;
  transform: translateX(9rem);
  transition: 0.35s ease-in-out;
}

.floating-btn.right:hover {
  transform: translateX(0);
}

.floating-btn.right .icon {
  width: 1rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.floating-btn.left {
  left: -8rem;
  top: calc(4rem + 2rem);
  transform: translateX(-9rem);
  transition: 0.35s ease-in-out;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .floating-btn.left {
    top: calc(4rem + 2rem);
  }
}

.floating-btn.left:hover {
  transform: translateX(0);
}

.floating-btn.left .icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 1rem;
}

.floating-btn .icon {
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.floating-btn .label {
  line-height: 3.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.slider-btns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.slider-btns.yellow .left .icon {
  background-image: url("/images/client/left-yellow.png") !important;
}

.slider-btns.yellow .right .icon {
  background-image: url("/images/client/right-yellow.png") !important;
}

.slider-btns.yellow .label {
  color: #ffd300 !important;
}

.slider-btns .btn {
  height: 2rem;
  display: flex;
  flex-direction: row;
}

.slider-btns .btn.left .icon {
  margin-right: 0.75rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: url("/images/client/left.png");
}

.slider-btns .btn.right .icon {
  margin-left: 0.75rem;
  background-image: url("/images/client/right.png");
}

.slider-btns .btn .icon {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.slider-btns .btn .label {
  color: #009a3e;
  line-height: 2rem;
}

.slider-btns .btn:hover {
  box-shadow: unset;
}

@media screen and (min-width: 768px) {
  .slider-btns {
    display: none;
  }
}

.icon.more {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  overflow: visible;
  margin: 0.25rem 0;
}

.icon.more::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -0.75rem;
  z-index: 1;
}

.icon.more::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -0.75rem;
  z-index: 1;
}

.icon.more.gray {
  background-color: #707070;
}

.icon.more.gray::before,
.icon.more.gray::after {
  background-color: #707070;
}

.section.faq .content-ctn {
  width: 100%;
  color: #fff;
  padding: 3rem;
  position: relative;
}

.section.faq .content-ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .section.faq .content-ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.section.faq .content-ctn .section-title {
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .section.faq .content-ctn .section-title {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

.section.faq .content-ctn .group {
  max-height: 25rem;
  overflow: hidden;
  transition: 1.5s ease-in-out;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  position: relative;
}

.section.faq .content-ctn .group.expanded {
  max-height: 300rem;
}

@media screen and (min-width: 768px) {
  .section.faq .content-ctn .group.expanded {
    max-height: 200rem;
  }
}

.section.faq .content-ctn .group.expanded .group-end .image {
  transform: rotateZ(180deg);
}

.section.faq .content-ctn .group .group-end {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #009a3e;
  border-top: 1px solid #ffd300;
  position: absolute;
  bottom: 0rem;
  left: 0;
}

.section.faq .content-ctn .group .group-end .image {
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: url("/images/client/expand.png");
  padding: 0.6rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.section.faq .content-ctn .group .title-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .section.faq .content-ctn .group .title-row {
    justify-content: flex-start;
  }
}

.section.faq .content-ctn .group .title-row .image {
  width: 6rem;
  height: 6rem;
}

.section.faq .content-ctn .group .title-row .title {
  font-weight: bold;
  line-height: 2rem;
  font-size: 1.2rem;
  border-left: 1px solid #ffd300;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

.section.faq .content-ctn .group .q {
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.section.faq .content-ctn .group .a {
  width: calc(100% - 1.5rem);
  line-height: 1.5rem;
  margin-left: 1.5rem;
}

.section.faq .content-ctn .group .a + .q {
  margin-top: 2rem;
}

.section.faq .content-ctn .group p + p,
.section.faq .content-ctn .group * + ol,
.section.faq .content-ctn .group * + ul {
  margin-top: 1rem;
}

.section.faq .content-ctn .group span {
  font-weight: bold;
  color: #ffd300;
}

.section.faq .content-ctn .group .subtitle {
  font-weight: bold;
  color: #ffd300;
}

.section.faq .content-ctn .group ul,
.section.faq .content-ctn .group ol {
  margin-left: 1rem;
}

.section.faq .content-ctn .group a {
  text-decoration: unset;
  color: #ffd300;
  font-weight: bold;
}

