.hse-home {
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .hse-home {
    padding-top: 4rem;
  }
}

.hse-home .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
}

@media screen and (min-width: 768px) {
  .hse-home .section {
    padding: 2rem 10vw;
  }
}

.hse-home .section.border {
  position: relative;
}

.hse-home .section.border::before {
  content: "";
  width: calc(100% - (3rem * 3));
  height: 110%;
  position: absolute;
  top: 0;
  left: calc(3rem * 1.5 - 3px);
  border: 3px solid #009a3e;
  border-top: unset;
  border-bottom: unset;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .hse-home .section.border::before {
    width: calc(100% - (10vw));
    left: calc(10vw / 2 - 3px);
  }
}

.hse-home .section .subtitle {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hse-home .section .title-line {
  width: 8rem;
  height: 2px;
  background-color: #ffd300;
  margin: 1rem 0;
}

.hse-home .section .section-title {
  width: calc(100vw - (3rem * 2) - (2rem * 2));
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #707070;
  letter-spacing: 3px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hse-home .section .section-title {
    width: auto;
  }
}

.hse-home .section .small-section-title {
  width: 80%;
  text-align: center;
  font-weight: lighter;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.hse-home .cover {
  height: 80vh;
  justify-content: center;
  background-color: #ccc;
  text-align: center;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.hse-home .cover .title {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem !important;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hse-home .cover .title {
    font-size: 4rem;
    letter-spacing: 1rem !important;
  }
}

.hse-home .cover .description {
  width: 100%;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-size: 1.2rem;
}

.hse-home .cover .btn {
  width: 14rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 7rem);
}

.hse-home .cover .btn .text {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.hse-home .cover .btn .icon {
  width: 1rem;
  height: 1rem;
}

.hse-home .about-us .ctn {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hse-home .about-us .ctn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hse-home .about-us .ctn .image {
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hse-home .about-us .ctn .image {
    width: 40%;
    padding-bottom: 30%;
    background-image: none !important;
    position: relative;
  }

  .hse-home .about-us .ctn .image::before {
    content: "";
    width: 180%;
    height: 120%;
    position: absolute;
    left: -35%;
    top: -10%;
    background-image: url("/images/hse/about-us.png");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: -5;
  }
}

.hse-home .about-us .ctn .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #009a3e;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hse-home .about-us .ctn .info {
    width: 50%;
  }
}

.hse-home .about-us .ctn .info::before {
  content: "";
  width: 1.5rem;
  height: 3rem;
  background-color: #ffd300;
  position: absolute;
  top: -1.5rem;
  right: -0.75rem;
}

.hse-home .about-us .ctn .info::after {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: #009a3e;
  position: absolute;
  bottom: -1rem;
  left: 0;
  transform: scale(-1, 1) skewY(30deg);
  z-index: -5;
}

.hse-home .about-us .ctn .info .text {
  width: 100%;
  color: #fff;
  text-align: left;
  line-height: 1.5rem;
}

.hse-home .stake .ctn {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hse-home .stake .ctn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.hse-home .stake .ctn .image {
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hse-home .stake .ctn .image {
    width: 50%;
    padding-bottom: 50%;
    background-image: none !important;
    position: relative;
  }

  .hse-home .stake .ctn .image::before {
    content: "";
    width: 180%;
    height: 120%;
    position: absolute;
    left: -35%;
    top: -10%;
    background-image: url("/images/hse/objective.png");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: -5;
  }
}

.hse-home .stake .ctn .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hse-home .stake .ctn .info {
    width: 45%;
  }
}

.hse-home .stake .ctn .info .title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.hse-home .stake .ctn .info .text {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.hse-home .stake .ctn .info ul {
  margin-left: 1rem;
}

.hse-home .stake .ctn .info ul li {
  line-height: 1.5rem;
}

.hse-home .structure {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hse-home .structure .section-title {
  margin-bottom: 5rem;
}

.hse-home .structure .ctn {
  flex-grow: 1;
  width: 300%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: translateX(33.5%);
  position: relative;
}

@media screen and (min-width: 768px) {
  .hse-home .structure .ctn {
    width: 100%;
    transform: translateX(0);
  }
}

.hse-home .structure .ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .hse-home .structure .ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.hse-home .structure .ctn .item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 2rem;
  padding-top: 0;
  margin-top: -3rem;
}

.hse-home .structure .ctn .item .image {
  width: 100%;
  padding-bottom: 120%;
}

.hse-home .structure .ctn .item .title {
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hse-home .structure .ctn .item .btn {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hse-home .structure .ctn .item .btn .text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.hse-home .structure .ctn .item .btn .icon {
  width: 2rem;
  height: 1rem;
  background-color: #eee;
}

.hse-home .benefits .ctn {
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.hse-home .benefits .ctn.mobile {
  width: 100%;
  height: 60rem;
  padding: 2rem;
  padding-top: 0rem;
  margin-bottom: -5rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hse-home .benefits .ctn.mobile {
    display: none;
  }
}

.hse-home .benefits .ctn.mobile .item {
  background-color: #fff;
  border-radius: 1rem;
  line-height: 2rem;
  box-shadow: 0 0 10px #aaa;
  padding: 0.75rem;
  position: absolute;
}

.hse-home .benefits .ctn.mobile .item.tl {
  width: 15rem;
  height: 7.5rem;
  top: 12rem;
  left: -2rem;
}

.hse-home .benefits .ctn.mobile .item.tr {
  top: 0;
  right: 0;
}

.hse-home .benefits .ctn.mobile .item.bl {
  width: 18rem;
  bottom: 13rem;
  left: 0;
}

.hse-home .benefits .ctn.mobile .item.br {
  bottom: 6rem;
  right: 0;
}

.hse-home .benefits .ctn.web {
  width: 100%;
  height: 50rem;
  padding: 5vw 10vw;
  position: relative;
  display: none;
}

@media screen and (min-width: 768px) {
  .hse-home .benefits .ctn.web {
    display: unset;
  }
}

.hse-home .benefits .ctn.web .item {
  background-color: #fff;
  border-radius: 1rem;
  line-height: 2rem;
  box-shadow: 0 0 10px #aaa;
  padding: 1rem;
  padding-left: 3rem;
  position: absolute;
}

.hse-home .benefits .ctn.web .item::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #009a3e;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.hse-home .benefits .ctn.web .item.tl {
  width: 22rem;
  top: 5%;
  left: 5%;
}

.hse-home .benefits .ctn.web .item.tr {
  width: 30rem;
  top: 3%;
  right: 0;
}

.hse-home .benefits .ctn.web .item.bl {
  width: 20rem;
  bottom: 40%;
  left: 0;
}

.hse-home .benefits .ctn.web .item.br {
  width: 17rem;
  bottom: 5%;
  right: 3%;
}

.hse-home .who-can-apply .ctn {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .hse-home .who-can-apply .ctn {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.hse-home .who-can-apply .ctn .item {
  background-color: #fff;
  box-shadow: 0 0 10px #aaa;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
}

.hse-home .who-can-apply .ctn .item .image {
  width: 100%;
  padding-bottom: 100%;
  background-size: 70%;
  margin-top: -7rem;
}

.hse-home .who-can-apply .ctn .item .divider {
  height: 1rem;
  width: 2px;
  background-color: #ffd300;
  margin: 0.5rem 0;
}

.hse-home .who-can-apply .ctn .item .title {
  text-align: center;
  line-height: 1.5rem;
}

.hse-home .faq {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 5rem;
}

.hse-home .faq .section-title {
  margin-bottom: 5rem;
}

.hse-home .faq .ctn {
  flex-grow: 1;
  width: 300%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: translateX(33.5%);
  position: relative;
}

@media screen and (min-width: 768px) {
  .hse-home .faq .ctn {
    width: 100%;
    transform: translateX(0);
  }
}

.hse-home .faq .ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .hse-home .faq .ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.hse-home .faq .ctn .item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 2rem;
  padding-top: 0;
  margin-top: -3rem;
}

.hse-home .faq .ctn .item .image {
  width: 100%;
  padding-bottom: 120%;
  background-color: #eee;
}

.hse-home .faq .ctn .item .title {
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hse-home .faq .ctn .item .btn {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hse-home .faq .ctn .item .btn .text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.hse-home .faq .ctn .item .btn .icon {
  width: 2rem;
  height: 1rem;
  background-color: #eee;
}

.hse-home .apply-now {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@media screen and (min-width: 768px) {
  .hse-home .apply-now {
    height: 60vh;
  }
}

.hse-home .apply-now .title {
  width: 80vw;
  position: absolute;
  top: 2rem;
  left: 10%;
  letter-spacing: 3px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.hse-home .apply-now .btn {
  width: 14rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hse-home .apply-now .btn .text {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.hse-home .apply-now .btn .icon {
  width: 1rem;
  height: 1rem;
}

.hse-home .partnership .ctn {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  font-size: 0.6rem;
}

@media screen and (min-width: 768px) {
  .hse-home .partnership .ctn {
    font-size: 1rem;
    flex-direction: row;
  }
}

.hse-home .partnership .ctn .item {
  display: flex;
  flex-direction: row;
}

.hse-home .partnership .ctn .item + .item {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .hse-home .partnership .ctn .item + .item {
    margin-left: 1em;
    margin-top: 0;
  }
}

.hse-home .partnership .ctn .item .logo {
  width: 6em;
  height: 6em;
}

.hse-home .partnership .ctn .item .logo + .logo {
  margin-left: 1em;
}

.hse-home .partnership .ctn .item .logo.CBRD {
  width: 17em;
}

.hse-home .partnership .ctn .item .logo.KE {
  width: 15em;
}

.hse-home .partnership .ctn .item .logo.smart {
  width: 9em;
}

.hse-home .partnership .tagline-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hse-home .partnership .tagline-ctn .tagline {
  line-height: 4rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ffd300;
  padding: 0 2rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .hse-home .partnership .tagline-ctn .tagline {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
}

.hse-home .partnership .tagline-ctn .tagline::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffd300;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scale(-1, 1) skewY(35deg);
  z-index: -1;
}

.hse-home .partnership .tagline-ctn .logo {
  width: 70%;
  height: 6rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.hse-home.kh * {
  letter-spacing: normal !important;
}

.hse-home.kh .section .subtitle {
  font-size: 1.2rem;
}

.hse-home.kh .about-us .ctn .info .text {
  line-height: 1.75rem;
}

.hse-home.kh .stake .ctn .info .text {
  line-height: 1.75rem;
}

.hse-home.kh .stake .ctn .info ul li {
  line-height: 1.75rem;
}

