.m-home {
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .m-home {
    padding-top: 4rem;
  }
}

.m-home .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
}

@media screen and (min-width: 768px) {
  .m-home .section {
    padding: 2rem 10vw;
  }
}

.m-home .section .title-line {
  width: 8rem;
  height: 2px;
  background-color: #ffd300;
  margin-bottom: 1rem;
}

.m-home .section .section-title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #707070;
  letter-spacing: 3px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.m-home .cover {
  height: 80vh;
  justify-content: center;
  background-color: #ccc;
  text-align: center;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.m-home .cover .title {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media screen and (min-width: 768px) {
  .m-home .cover .title {
    font-size: 4rem;
  }
}

.m-home .cover .title .green {
  color: #009a3e;
}

.m-home .cover .title .white {
  color: #fff;
}

.m-home .cover .title-img {
  width: 100%;
  height: 4rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.m-home .cover .divider {
  width: 60%;
  height: 2px;
  background-color: #ffd300;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .m-home .cover .divider {
    width: 12rem;
  }
}

.m-home .cover .description {
  width: 100%;
  line-height: 2rem;
  font-size: 1.2rem;
  color: #fff;
}

.m-home .about-us {
  width: 100%;
  overflow-x: hidden;
}

.m-home .about-us .ctn {
  flex-grow: 1;
  width: 300%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: translateX(33%);
}

@media screen and (min-width: 768px) {
  .m-home .about-us .ctn {
    width: 100%;
    transform: translateX(0);
  }
}

.m-home .about-us .ctn .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  text-align: center;
  background-color: #009a3e;
  padding: 2rem;
}

.m-home .about-us .ctn .item .title {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

.m-home .about-us .ctn .item .icon {
  width: 60%;
  padding-bottom: 60%;
  flex-shrink: 0;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.m-home .about-us .ctn .item .divider {
  width: 2rem;
  height: 2px;
  background-color: #ffd300;
  margin: 1rem 0;
}

.m-home .about-us .ctn .item .desc-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
}

.m-home .about-us .ctn .item .desc-ctn .description {
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.4rem;
}

.m-home .program {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.m-home .program .ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.m-home .program .ctn .item {
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
}

@media screen and (min-width: 768px) {
  .m-home .program .ctn .item {
    padding: 0 10vw;
  }
}

.m-home .program .ctn .item::after {
  content: "";
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  position: absolute;
  top: calc(0.75rem - 3px);
  left: calc(0.75rem - 3px);
  border: 3px solid #fff;
  opacity: 0;
  z-index: 5;
  transition: 0.5s ease-in-out;
}

.m-home .program .ctn .item:hover {
  background-color: rgba(0, 154, 62, 0.8);
}

.m-home .program .ctn .item:hover::after {
  opacity: 1;
}

.m-home .program .ctn .item .title {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .m-home .program .ctn .item .title {
    font-size: 1.5rem;
  }
}

.m-home .program .ctn .item .title br {
  display: unset;
}

@media screen and (min-width: 768px) {
  .m-home .program .ctn .item .title br {
    display: none;
  }
}

.m-home .program .ctn .item .notation {
  color: #ffd300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0.5rem;
}

.m-home .contact-us {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.m-home .contact-us .ctn {
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .m-home .contact-us .ctn {
    width: calc(100% - 10vw);
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.m-home .contact-us .ctn .divider {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-home .contact-us .ctn .divider {
    displauy: unset;
    height: 12rem;
    width: 1px;
    align-self: flex-start;
    background-color: #009a3e;
    margin: 0 1rem;
  }
}

.m-home .contact-us .ctn .item {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .m-home .contact-us .ctn .item {
    width: 25%;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    margin-bottom: 0;
  }
}

.m-home .contact-us .ctn .item .icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #009a3e;
  margin-right: 1rem;
  padding: 1.75rem;
  background-origin: content-box;
}

@media screen and (min-width: 768px) {
  .m-home .contact-us .ctn .item .icon {
    margin-right: 0;
  }
}

.m-home .contact-us .ctn .item .info {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .m-home .contact-us .ctn .item .info {
    height: unset;
    text-align: center;
  }
}

.m-home .contact-us .ctn .item .info .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .m-home .contact-us .ctn .item .info .value {
    line-height: 1.2rem;
    height: 4.8rem;
  }

  .m-home .contact-us .ctn .item .info .value.short {
    line-height: 4.8rem;
  }
}

.m-home .contact-us .map-ctn {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-color: #eee;
}

.m-home .contact-us .map-ctn .frame {
  width: 100%;
  height: 100%;
}

.m-home .fill-your-info .ctn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.m-home .fill-your-info .ctn .image {
  display: none;
}

@media screen and (min-width: 768px) {
  .m-home .fill-your-info .ctn .image {
    display: unset;
    width: 45%;
    height: 30rem;
    background-image: none !important;
    position: relative;
  }

  .m-home .fill-your-info .ctn .image::before {
    content: "";
    width: 180%;
    height: 120%;
    position: absolute;
    left: -25%;
    top: -10%;
    background-image: url("/images/main-page/form.png");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: -5;
  }
}

.m-home .fill-your-info .ctn .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .m-home .fill-your-info .ctn .form {
    width: 45%;
  }
}

.m-home .fill-your-info .ctn .form .input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  outline: unset;
  border: unset;
  border-bottom: 1px solid #ccc;
  background-color: unset;
  margin-bottom: 1rem;
}

.m-home .fill-your-info .ctn .form .input.text {
  resize: none;
}

.m-home .fill-your-info .ctn .form .submit {
  width: 10rem;
  height: 3rem;
  line-height: 2rem;
  align-self: flex-end;
  outline: unset;
  border: unset;
  border-radius: 1.5rem;
  text-align: center;
  font-weight: bold;
  background-color: #009a3e;
  color: #fff;
  position: relative;
}

.m-home .partnership .ctn {
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
  .m-home .partnership .ctn {
    font-size: 1rem;
  }
}

.m-home .partnership .ctn .item {
  display: flex;
  flex-direction: row;
}

.m-home .partnership .ctn .item + .item {
  margin-left: 1em;
}

.m-home .partnership .ctn .item .logo {
  width: 6em;
  height: 6em;
}

.m-home .partnership .ctn .item .logo + .logo {
  margin-left: 1em;
}

.m-home .partnership .ctn .item .logo.CBRD {
  width: 17em;
}

.m-home .partnership .ctn .item .logo.smart {
  width: 9em;
}

.m-home.kh .about-us .ctn .item .desc-ctn {
  height: 18rem;
}

.m-home.kh .contact-us .ctn .item .info .value {
  line-height: 1.6rem;
  height: 4.8rem;
}

.m-home.kh .contact-us .ctn .item .info .value.short {
  line-height: 4.8rem;
}

