.ulp-home {
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .ulp-home {
    padding-top: 4rem;
  }
}

.ulp-home .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .section {
    padding: 2rem 10vw;
  }
}

.ulp-home .section.border {
  position: relative;
}

.ulp-home .section.border::before {
  content: "";
  width: calc(100% - (3rem * 3));
  height: 110%;
  position: absolute;
  top: 0;
  left: calc(3rem * 1.5 - 3px);
  border: 3px solid #009a3e;
  border-top: unset;
  border-bottom: unset;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .ulp-home .section.border::before {
    width: calc(100% - (10vw));
    left: calc(10vw / 2 - 3px);
  }
}

.ulp-home .section .subtitle {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ulp-home .section .title-line {
  width: 8rem;
  height: 2px;
  background-color: #ffd300;
  margin: 1rem 0;
}

.ulp-home .section .section-title {
  width: calc(100vw - (3rem * 2) - (2rem * 2));
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #707070;
  letter-spacing: 3px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .section .section-title {
    width: auto;
  }
}

.ulp-home .section .small-section-title {
  width: 80%;
  text-align: center;
  font-weight: lighter;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.ulp-home .cover {
  height: 80vh;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.ulp-home .cover * {
  z-index: 10;
}

.ulp-home .cover .background {
  display: none;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50% 100%;
  background-image: url("/images/ulp/cover.svg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: unset;
}

@media screen and (min-width: 768px) {
  .ulp-home .cover .background {
    display: flex;
    background-position: calc(100% + 5rem) 50%;
  }
}

.ulp-home .cover .ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ulp-home .cover .ctn {
    width: 28rem;
    align-items: flex-start;
  }
}

.ulp-home .cover .ctn .title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  line-height: 3.6rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .cover .ctn .title {
    text-align: left;
  }
}

.ulp-home .cover .ctn .logo {
  width: 100%;
  height: 3rem;
  background-position: left center;
  margin-bottom: 0.5rem;
}

.ulp-home .cover .ctn .subtitle {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .ulp-home .cover .ctn .subtitle {
    text-align: left;
  }
}

.ulp-home .cover .ctn .divider {
  width: 2px;
  height: 2rem;
  background-color: #ffd300;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .ulp-home .cover .ctn .divider {
    margin-left: 12rem;
  }
}

.ulp-home .cover .ctn .text {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .ulp-home .cover .ctn .text {
    text-align: left;
  }
}

.ulp-home .about .ctn {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .ulp-home .about .ctn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ulp-home .about .ctn.reverse {
    flex-direction: row-reverse;
  }

  .ulp-home .about .ctn.reverse .image::before {
    width: 200%;
    left: unset;
    right: -70%;
  }

  .ulp-home .about .ctn.reverse .info .text {
    text-align: left;
  }
}

.ulp-home .about .ctn .image {
  width: 100%;
  padding-bottom: 60%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .about .ctn .image {
    width: 50%;
    padding-bottom: 50%;
    position: relative;
  }
}

.ulp-home .about .ctn .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .about .ctn .info {
    width: 45%;
  }
}

.ulp-home .about .ctn .info .title {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.ulp-home .about .ctn .info .title::before {
  content: "";
  width: 2px;
  height: 1rem;
  background-color: #ffd300;
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
}

.ulp-home .about .ctn .info .text {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.ulp-home .about .ctn .info ul {
  margin-left: 1rem;
}

.ulp-home .about .ctn .info ul li {
  line-height: 1.5rem;
}

.ulp-home .objective .ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  position: relative;
}

@media screen and (min-width: 768px) {
  .ulp-home .objective .ctn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.ulp-home .objective .ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .ulp-home .objective .ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.ulp-home .objective .ctn .image {
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 1rem;
  position: relative;
  left: -5%;
}

@media screen and (min-width: 768px) {
  .ulp-home .objective .ctn .image {
    width: 50%;
    padding-bottom: 50%;
    background-image: none !important;
    position: relative;
  }

  .ulp-home .objective .ctn .image::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    left: -10%;
    top: -10%;
    background-image: url("/images/ulp/objective.svg");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: -5;
  }
}

.ulp-home .objective .ctn .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .objective .ctn .info {
    width: 45%;
  }
}

.ulp-home .objective .ctn .info .title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.ulp-home .objective .ctn .info .text {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.ulp-home .objective .ctn .info ul {
  margin-left: 1rem;
}

.ulp-home .objective .ctn .info ul li {
  line-height: 1.5rem;
}

.ulp-home .testimonials .ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ulp-home .testimonials .ctn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ulp-home .testimonials .ctn.reverse {
    flex-direction: row-reverse;
  }
}

.ulp-home .testimonials .ctn .image-ctn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ulp-home .testimonials .ctn .image-ctn {
    width: 40%;
  }
}

.ulp-home .testimonials .ctn .image-ctn .border-ctn {
  width: calc(15rem + 6px);
  height: calc(18rem + 6px);
  background-color: #009a3e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
          clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.ulp-home .testimonials .ctn .image-ctn .border-ctn .image {
  width: 15rem;
  height: 18rem;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
          clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
}

.ulp-home .testimonials .ctn .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .testimonials .ctn .info {
    width: 60%;
  }
}

.ulp-home .testimonials .ctn .info .name {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2rem;
  color: #707070;
  margin-bottom: 2.5rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .ulp-home .testimonials .ctn .info .name {
    text-align: right;
  }
}

.ulp-home .testimonials .ctn .info .name.t1::before {
  content: "01";
}

.ulp-home .testimonials .ctn .info .name.t2::before {
  content: "02";
}

.ulp-home .testimonials .ctn .info .name::before {
  font-size: 8rem;
  color: #009a3e;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

@media screen and (min-width: 768px) {
  .ulp-home .testimonials .ctn .info .name::before {
    left: unset;
    right: -0.5rem;
  }
}

.ulp-home .testimonials .ctn .info .name span {
  color: #ffd300;
  font-weight: bold;
}

.ulp-home .testimonials .ctn .info .text {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.ulp-home .partner .ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
  position: relative;
}

.ulp-home .partner .ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .ulp-home .partner .ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.ulp-home .partner .ctn .image {
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 1rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .ulp-home .partner .ctn .image {
    width: 60%;
    padding-bottom: 30%;
    position: relative;
  }
}

.ulp-home .partner .ctn .partners {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ulp-home .partner .ctn .partners .item {
  width: 45%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .ulp-home .partner .ctn .partners .item {
    width: 30%;
  }
}

.ulp-home .partner .ctn .partners .item::before {
  content: "";
  width: 100%;
  height: 70%;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.ulp-home .partner .ctn .partners .item .logo {
  width: 100%;
  height: calc(100% - 2rem);
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding: 0.5rem;
}

.ulp-home .partner .ctn .partners .item .text {
  width: 100%;
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ulp-home .partner .ctn .partners .item .text p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #404040;
  padding: 0 1rem;
}

.ulp-home .partnership {
  background-color: #fff;
}

.ulp-home .partnership .ctn {
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
  .ulp-home .partnership .ctn {
    font-size: 1rem;
  }
}

.ulp-home .partnership .ctn .item {
  display: flex;
  flex-direction: row;
}

.ulp-home .partnership .ctn .item + .item {
  margin-left: 1em;
}

.ulp-home .partnership .ctn .item .logo {
  width: 6em;
  height: 6em;
}

.ulp-home .partnership .ctn .item .logo + .logo {
  margin-left: 1em;
}

.ulp-home .partnership .ctn .item .logo.CBRD {
  width: 17em;
}

.ulp-home .partnership .ctn .item .logo.smart {
  width: 9em;
}

.ulp-home .partnership .tagline-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ulp-home .partnership .tagline-ctn .tagline {
  line-height: 4rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ffd300;
  padding: 0 2rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .ulp-home .partnership .tagline-ctn .tagline {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
}

.ulp-home .partnership .tagline-ctn .tagline::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffd300;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scale(-1, 1) skewY(35deg);
  z-index: -1;
}

.ulp-home .partnership .tagline-ctn .logo {
  width: 70%;
  height: 6rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.ulp-home.kh .cover .ctn .text {
  font-size: 0.8rem;
}

