.yip-home {
  width: 100vw;
  padding-top: 4rem;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .yip-home {
    padding-top: 4rem;
  }
}

.yip-home .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .yip-home .section {
    padding: 2rem 10vw;
  }
}

.yip-home .section.border {
  position: relative;
}

.yip-home .section.border::before {
  content: "";
  width: calc(100% - (3rem * 3));
  height: 110%;
  position: absolute;
  top: 0;
  left: calc(3rem * 1.5 - 3px);
  border: 3px solid #009a3e;
  border-top: unset;
  border-bottom: unset;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .yip-home .section.border::before {
    width: calc(100% - (10vw));
    left: calc(10vw / 2 - 3px);
  }
}

.yip-home .section.border.border-bottom::before {
  height: 50%;
  top: 60%;
}

.yip-home .section .title-line {
  width: 8rem;
  height: 2px;
  background-color: #ffd300;
  margin: 1rem 0;
}

.yip-home .section .section-title {
  width: calc(100vw - (3rem * 2) - (2rem * 2));
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #707070;
  letter-spacing: 3px;
  line-height: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .yip-home .section .section-title {
    width: auto;
  }
}

.yip-home .section .small-section-title {
  width: 80%;
  text-align: center;
  font-weight: lighter;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.yip-home .section .side-section-title {
  display: none;
}

@media screen and (min-width: 768px) {
  .yip-home .section .side-section-title {
    display: flex;
    background-color: white;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #009a3e;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    padding: 0 0.5rem;
    z-index: 10;
  }

  .yip-home .section .side-section-title::before {
    content: "";
    width: 80%;
    height: 200%;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("/images/yip/bg-shapes.png");
    position: absolute;
    z-index: -1;
  }

  .yip-home .section .side-section-title.left {
    left: calc(10vw / 2 - 3px);
    transform: rotateZ(-90deg) translate(-50%, -1.5rem);
    transform-origin: top left;
  }

  .yip-home .section .side-section-title.left::before {
    top: -50%;
    right: -20%;
  }

  .yip-home .section .side-section-title.right {
    right: calc(10vw / 2 - 3px);
    transform: rotateZ(90deg) translate(50%, -1.5rem);
    transform-origin: top right;
  }

  .yip-home .section .side-section-title.right::before {
    top: -50%;
    left: -20%;
    transform: rotateZ(180deg);
  }
}

.yip-home .cover {
  height: 80vh;
  justify-content: center;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.yip-home .cover .item {
  width: 50%;
  height: 100%;
  color: #fff;
}

.yip-home .cover .item.left {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.yip-home .cover .item.left .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3.6rem;
  margin-bottom: 2rem;
}

.yip-home .cover .item.left .row .title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 3.6rem;
}

.yip-home .cover .item.left .row .divider {
  height: 2.5rem;
  width: 3px;
  background-color: #ffd300;
  margin: 0 1rem;
  margin-top: 0.65rem;
}

.yip-home .cover .item.left .row .subtitle {
  line-height: 1.2rem;
  font-weight: lighter;
}

.yip-home .cover .item.left .description {
  line-height: 1.5rem;
  font-weight: lighter;
}

.yip-home .cover .item.left .image {
  flex-grow: 1;
  width: 100%;
  margin-top: -2rem;
  margin-bottom: -2rem;
  background-position: center bottom;
}

.yip-home .cover .item.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.yip-home .cover .item.right .btn {
  width: 14rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.yip-home .cover .item.right .btn .text {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.yip-home .cover .item.right .btn .icon {
  width: 1rem;
  height: 1rem;
}

.yip-home .why-smartstart {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.yip-home .why-smartstart .section-title {
  margin-bottom: 5rem;
}

.yip-home .why-smartstart .ctn {
  flex-grow: 1;
  width: 300%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: translateX(33.5%);
  position: relative;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .yip-home .why-smartstart .ctn {
    width: 100%;
    transform: translateX(0);
  }
}

.yip-home .why-smartstart .ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .yip-home .why-smartstart .ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.yip-home .why-smartstart .ctn .item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 2rem;
  padding-top: 0;
  margin-top: -8rem;
}

.yip-home .why-smartstart .ctn .item .image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center bottom;
}

.yip-home .why-smartstart .ctn .item .title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.yip-home .why-smartstart .ctn .item .btn {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yip-home .why-smartstart .ctn .item .btn .text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.yip-home .stake .ctn {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .yip-home .stake .ctn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.yip-home .stake .ctn .image {
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .yip-home .stake .ctn .image {
    width: 40%;
    padding-bottom: 40%;
    background-image: none !important;
    position: relative;
  }

  .yip-home .stake .ctn .image::before {
    content: "";
    width: 180%;
    height: 120%;
    position: absolute;
    left: -35%;
    top: -10%;
    background-image: url("/images/hse/objective.png");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    z-index: -5;
  }
}

.yip-home .stake .ctn .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem 0;
}

@media screen and (min-width: 768px) {
  .yip-home .stake .ctn .info {
    width: 55%;
    margin: 0;
    padding: 0;
  }
}

.yip-home .stake .ctn .info .title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.yip-home .stake .ctn .info .text {
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.yip-home .stake .ctn .info ol {
  margin-left: 1rem;
}

.yip-home .stake .ctn .info ol li {
  line-height: 1.5rem;
}

.yip-home .process {
  width: 100%;
}

.yip-home .process .ctn {
  flex-grow: 1;
  width: 300%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  transition: 0.5s ease-in-out;
  transform: translateX(36%);
  position: relative;
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .yip-home .process .ctn {
    width: 100%;
    transform: translateX(0);
  }
}

.yip-home .process .ctn .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 2rem;
  padding-top: 0;
  margin-top: -3rem;
}

.yip-home .process .ctn .item.white {
  color: #707070;
  position: relative;
}

.yip-home .process .ctn .item.white::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 110%;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 10px #aaa;
  left: -15%;
  top: -5%;
  z-index: -1;
}

.yip-home .process .ctn .item .image {
  width: 100%;
  padding-bottom: 120%;
}

.yip-home .process .ctn .item .title {
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.yip-home .process .ctn .item .description {
  height: 4.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.yip-home .process .ctn .item .btn {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yip-home .process .ctn .item .btn .text {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.yip-home .process .slider-btns {
  margin-top: 4rem;
}

.yip-home .requirements .ctn {
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.yip-home .requirements .ctn.mobile {
  width: 100%;
  height: 40rem;
  padding: 2rem;
  padding-top: 0rem;
  margin-bottom: 0rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .yip-home .requirements .ctn.mobile {
    display: none;
  }
}

.yip-home .requirements .ctn.mobile .item {
  background-color: #fff;
  border-radius: 1rem;
  line-height: 2rem;
  box-shadow: 0 0 10px #aaa;
  padding: 0.75rem;
  position: absolute;
}

.yip-home .requirements .ctn.mobile .item.tl {
  width: 10rem;
  top: 8rem;
  left: -2rem;
}

.yip-home .requirements .ctn.mobile .item.tr {
  top: 0;
  right: 0;
}

.yip-home .requirements .ctn.mobile .item.bl {
  width: 18rem;
  bottom: 8rem;
  left: 0;
}

.yip-home .requirements .ctn.mobile .item.br {
  bottom: 0;
  right: 0;
}

.yip-home .requirements .ctn.web {
  width: 100%;
  height: 50rem;
  padding: 5vw 10vw;
  position: relative;
  display: none;
}

@media screen and (min-width: 768px) {
  .yip-home .requirements .ctn.web {
    display: unset;
  }
}

.yip-home .requirements .ctn.web .item {
  background-color: #fff;
  border-radius: 1rem;
  line-height: 2rem;
  box-shadow: 0 0 10px #aaa;
  padding: 1rem;
  padding-left: 3rem;
  position: absolute;
}

.yip-home .requirements .ctn.web .item::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #009a3e;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}

.yip-home .requirements .ctn.web .item.tl {
  width: 14rem;
  top: 3%;
  left: 20%;
}

.yip-home .requirements .ctn.web .item.tr {
  width: 21rem;
  top: 10%;
  right: 0;
}

.yip-home .requirements .ctn.web .item.bl {
  width: 20rem;
  bottom: 45%;
  left: 0%;
}

.yip-home .requirements .ctn.web .item.br {
  width: 22rem;
  bottom: 10%;
  right: -5%;
}

.yip-home .apply .content-ctn {
  width: 100%;
  color: #fff;
  padding: 3rem;
  position: relative;
}

.yip-home .apply .content-ctn::before {
  content: "";
  width: calc(100% + (3rem * 1.5));
  height: 100%;
  position: absolute;
  left: calc(-3rem * 0.75);
  top: 0;
  background-color: #009a3e;
  border-radius: 2rem;
  box-shadow: 0 0 10px #009a3e;
  z-index: -5;
}

@media screen and (min-width: 768px) {
  .yip-home .apply .content-ctn::before {
    width: calc(100% + (10vw * 1.5));
    left: calc(-10vw * 0.75);
  }
}

.yip-home .apply .content-ctn .section-title {
  color: #fff;
}

.yip-home .apply .content-ctn .small-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .yip-home .apply .content-ctn .small-section-title {
    margin-bottom: 3rem;
  }
}

.yip-home .apply .content-ctn .ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .yip-home .apply .content-ctn .ctn {
    flex-direction: row;
    justify-content: space-between;
  }
}

.yip-home .apply .content-ctn .ctn .item {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding-top: 0;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .yip-home .apply .content-ctn .ctn .item {
    width: 33%;
    padding: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.yip-home .apply .content-ctn .ctn .item .image {
  width: 100%;
  padding-bottom: 120%;
}

.yip-home .apply .content-ctn .ctn .item .title {
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.yip-home .awardee {
  position: relative;
}

.yip-home .awardee .content-ctn {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: 0.5s ease-in-out;
  transform: translateX(0%);
}

.yip-home .awardee .content-ctn .item {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
}

@media screen and (min-width: 768px) {
  .yip-home .awardee .content-ctn .item {
    padding: 0 10vw;
  }
}

.yip-home .awardee .content-ctn .item .yellow-title {
  width: 80%;
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffd300;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .yip-home .awardee .content-ctn .item .yellow-title {
    font-size: 1.5rem;
  }
}

.yip-home .awardee .content-ctn .item .ctn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .yip-home .awardee .content-ctn .item .ctn {
    height: 8rem;
  }
}

.yip-home .awardee .content-ctn .item .ctn .awardee {
  width: 40%;
  padding-bottom: 40%;
  border-radius: 50%;
  background-color: #009a3e;
  box-shadow: 0 0 10px #aaa;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .yip-home .awardee .content-ctn .item .ctn .awardee {
    width: 8rem;
    height: 8rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .yip-home .awardee .slider-btns {
    display: flex;
  }
}

.yip-home .apply-now {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@media screen and (min-width: 768px) {
  .yip-home .apply-now {
    height: 60vh;
  }
}

.yip-home .apply-now .title {
  width: 80vw;
  position: absolute;
  top: 2rem;
  left: 10%;
  letter-spacing: 3px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.yip-home .apply-now .btn {
  width: 14rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.yip-home .apply-now .btn .text {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.yip-home .apply-now .btn .icon {
  width: 1rem;
  height: 1rem;
}

.yip-home .partnership .ctn {
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
  .yip-home .partnership .ctn {
    font-size: 1rem;
  }
}

.yip-home .partnership .ctn .item {
  display: flex;
  flex-direction: row;
}

.yip-home .partnership .ctn .item + .item {
  margin-left: 1em;
}

.yip-home .partnership .ctn .item .logo {
  width: 6em;
  height: 6em;
}

.yip-home .partnership .ctn .item .logo + .logo {
  margin-left: 1em;
}

.yip-home .partnership .ctn .item .logo.CBRD {
  width: 17em;
}

.yip-home .partnership .ctn .item .logo.smart {
  width: 9em;
}

.yip-home .partnership .tagline-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yip-home .partnership .tagline-ctn .tagline {
  line-height: 4rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ffd300;
  padding: 0 2rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .yip-home .partnership .tagline-ctn .tagline {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
}

.yip-home .partnership .tagline-ctn .tagline::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffd300;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scale(-1, 1) skewY(35deg);
  z-index: -1;
}

.yip-home .partnership .tagline-ctn .logo {
  width: 70%;
  height: 6rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}

.yip-home .card {
  width: 100vw;
  height: 100vh;
  transform: translateY(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0s linear 0.36s, opacity 0.35s ease-in-out;
  z-index: 1000;
}

.yip-home .card.active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0s linear, opacity 0.35s ease-in-out;
}

.yip-home .card .backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}

.yip-home .card .content-ctn {
  width: 80vw;
  min-height: 10rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px #aaa;
  margin-top: 5rem;
  z-index: 1;
  position: relative;
  padding: 2rem;
  padding-top: 4rem;
}

@media screen and (min-width: 768px) {
  .yip-home .card .content-ctn {
    padding: 3rem 10vw;
  }
}

.yip-home .card .content-ctn .close {
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: url("/images/client/menu-close.png");
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media screen and (min-width: 768px) {
  .yip-home .card .content-ctn .close {
    top: 2rem;
    right: 2rem;
  }
}

.yip-home .card .content-ctn .image {
  width: 6rem;
  height: 10rem;
  position: absolute;
  left: 1rem;
  top: -4rem;
}

@media screen and (min-width: 768px) {
  .yip-home .card .content-ctn .image {
    width: 14vw;
    height: 20vw;
    top: -8vw;
    left: -2rem;
  }
}

.yip-home .card .content-ctn .content * + * {
  margin-top: 1rem;
}

.yip-home .card .content-ctn .content .title {
  width: 100%;
  font-size: 2rem;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}

.yip-home .card .content-ctn .content .text {
  color: #707070;
  line-height: 1.5rem;
}

.yip-home .card .content-ctn .content ol li {
  color: #009a3e;
  margin-left: 2rem;
}

.yip-home-kh .requirements .ctn.mobile .item.bl {
  width: 10rem !important;
}

.yip-home-kh .requirements .ctn.mobile .item.tl {
  width: 13rem !important;
}

.yip-home-kh .requirements .ctn.web .item.bl {
  width: 12rem !important;
}

.yip-home-kh .requirements .ctn.web .item.tr {
  width: 18rem !important;
}

