@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kantumruy:300,400,700&display=swap");

@import "./variables";
@import "./header.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Kantumruy", sans-serif;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  flex-shrink: 0;
}

html {
  font-size: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 0.8rem;
  }
}

/* html.khmer {
  font-size: .4rem
} */

body {
  background-color: #ffffff;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.cover {
  background-size: cover;
}

.btn {
  cursor: pointer;

  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.alert {
  height: 3rem;
  max-height: 0;
  background-color: #009a3e;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  color: #fff;

  animation: alert 5s ease-in-out;

  padding: 0 2rem;

  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@keyframes alert {
  0% {
    max-height: 0px;
  }

  10% {
    max-height: 3rem;
  }

  90% {
    max-height: 3rem;
  }

  100% {
    max-height: 0;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

.footer {
  width: 100%;
  height: 12rem;

  background-color: $smart;
  position: relative;

  padding: 2rem;

  position: relative;

  @media screen and (min-width: 768px) {
    height: 8rem;
  }

  &::before {
    content: "";
    background-color: #fff;
    transform: scale(-1, 1) skewY(30deg);

    width: 60px;
    height: 60px;

    position: absolute;
    top: -45px;
    left: 0;

    z-index: 1;

    @media screen and (min-width: 768px) {
      width: 120px;
      height: 120px;

      position: absolute;
      top: -90px;
      left: 0;
    }
  }

  .page-identifier {
    background-color: $smart-yellow;
    color: #fff;
    line-height: 2rem;

    padding: 0 0.75rem;
    padding-bottom: 3rem;

    position: absolute;
    top: -2.25rem;

    right: 20px;

    z-index: -1;

    @media screen and (min-width: 768px) {
      right: unset;
      left: 120px;
    }
  }

  .ctn {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    line-height: 2rem;
    font-size: 1.2rem;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-left: 5rem;
    }

    .item {
      color: #fff;
      display: flex;
      flex-direction: column;

      margin-bottom: 1rem;

      width: 30%;

      .row {
        display: flex;
        flex-direction: row;

        .icon {
          width: 2rem;
          height: 2rem;

          padding: 0.25rem;
          background-size: contain;
          background-position: center;
          background-origin: content-box;
          background-repeat: no-repeat;
          cursor: pointer;

          &.yt {
            width: 3rem;
          }
        }
      }
    }
  }

  .smart-footer {
    width: 10rem;
    height: 5rem;

    text-align: center;

    position: absolute;
    top: 1.5rem;
    right: 2rem;

    @media screen and (min-width: 768px) {
      top: unset;
      bottom: 1rem;
    }
  }

  .copyright {
    width: 20rem;
    color: #fff;

    position: absolute;
    bottom: 2rem;
    left: calc(50% - 10rem);
  }
}

.floating-btn {
  height: 3.5rem;
  width: 20rem;
  border-radius: 1.75rem;
  background-color: $smart-yellow;
  box-shadow: 0 0 10px #888;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;

  z-index: 100;

  padding: 0 1rem;
  cursor: pointer;

  &.kh {
    &.right {
      transform: translateX(11rem);
      right: -6rem;
    }

    &.left {
      left: -6rem;
      transform: translateX(-11rem);
    }
  }

  &.right {
    right: -8rem;
    bottom: 2rem;
    transform: translateX(9rem);
    transition: 0.35s ease-in-out;

    &:hover {
      transform: translateX(0);
    }

    .icon {
      width: 1rem;
      height: 1.25rem;

      margin-right: 1rem;
    }
  }

  &.left {
    left: -8rem;
    top: calc(#{$header-height} + 2rem);
    transform: translateX(-9rem);
    transition: 0.35s ease-in-out;

    justify-content: flex-end;

    @media screen and (min-width: 768px) {
      top: calc(#{$header-height-web} + 2rem);
    }

    &:hover {
      transform: translateX(0);
    }

    .icon {
      width: 1.25rem;
      height: 1.25rem;

      margin-left: 1rem;
    }
  }

  .icon {
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
  }

  .label {
    line-height: 3.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.slider-btns {
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;

  &.yellow {
    .left {
      .icon {
        background-image: url("/images/client/left-yellow.png") !important;
      }
    }

    .right {
      .icon {
        background-image: url("/images/client/right-yellow.png") !important;
      }
    }

    .label {
      color: $smart-yellow !important;
    }
  }

  .btn {
    height: 2rem;

    display: flex;
    flex-direction: row;

    &.left {
      .icon {
        margin-right: 0.75rem;

        background-size: contain;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-image: url("/images/client/left.png");
      }
    }

    &.right {
      .icon {
        margin-left: 0.75rem;

        background-image: url("/images/client/right.png");
      }
    }

    .icon {
      width: 2rem;
      height: 2rem;

      background-size: contain;
      background-position: center;
      background-origin: content-box;
      background-repeat: no-repeat;
    }

    .label {
      color: $smart;
      line-height: 2rem;
    }

    &:hover {
      box-shadow: unset;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon {
  &.more {
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;

    background-color: #fff;

    position: relative;
    overflow: visible;

    margin: 0.25rem 0;

    &::before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;

      border-radius: 50%;
      background-color: #fff;

      position: absolute;
      top: 0;
      left: -0.75rem;

      z-index: 1;
    }

    &::after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;

      border-radius: 50%;
      background-color: #fff;

      position: absolute;
      top: 0;
      right: -0.75rem;

      z-index: 1;
    }

    &.gray {
      background-color: #707070;

      &::before,
      &::after {
        background-color: #707070;
      }
    }
  }
}

.section.faq {
  .content-ctn {
    width: 100%;

    color: #fff;

    padding: 3rem;
    position: relative;

    &::before {
      content: "";
      width: calc(100% + (#{$side-indent} * 1.5));
      height: 100%;

      position: absolute;
      left: calc(-#{$side-indent} * 0.75);
      top: 0;

      background-color: $smart;
      border-radius: 2rem;
      box-shadow: 0 0 10px $smart;

      z-index: -5;

      @media screen and (min-width: 768px) {
        width: calc(100% + (#{$side-indent-web} * 1.5));
        left: calc(-#{$side-indent-web} * 0.75);
      }
    }

    .section-title {
      width: 100%;
      color: #fff;
      font-size: 1.2rem;
      letter-spacing: 1px;

      @media screen and (min-width: 768px) {
        font-size: 2rem;
        letter-spacing: 3px;
      }
    }

    .group {
      max-height: 25rem;
      overflow: hidden;

      transition: 1.5s ease-in-out;
      margin-bottom: 3rem;
      padding-bottom: 4rem;
      position: relative;

      &.expanded {
        max-height: 300rem;
        @media screen and (min-width: 768px) {
          max-height: 200rem;
        }

        .group-end {
          .image {
            transform: rotateZ(180deg);
          }
        }
      }

      .group-end {
        width: 100%;
        height: 3rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: $smart;
        border-top: 1px solid $smart-yellow;

        position: absolute;
        bottom: 0rem;
        left: 0;

        .image {
          width: 3rem;
          height: 3rem;
          background-size: contain;
          background-position: center;
          background-origin: content-box;
          background-repeat: no-repeat;
          background-image: url("/images/client/expand.png");

          padding: 0.6rem;
          cursor: pointer;
          transition: 1s ease-in-out;
        }
      }

      .title-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
          justify-content: flex-start;
        }

        .image {
          width: 6rem;
          height: 6rem;
        }

        .title {
          font-weight: bold;
          line-height: 2rem;
          font-size: 1.2rem;
          border-left: 1px solid $smart-yellow;

          padding-left: 1.5rem;
          margin-left: 1.5rem;
        }
      }

      .q {
        width: 100%;

        font-weight: bold;
        font-size: 1.1rem;
        line-height: 1.5rem;

        margin-bottom: 1rem;
      }

      .a {
        width: calc(100% - 1.5rem);
        line-height: 1.5rem;

        margin-left: 1.5rem;
      }

      .a + .q {
        margin-top: 2rem;
      }

      p + p,
      * + ol,
      * + ul {
        margin-top: 1rem;
      }

      span {
        font-weight: bold;
        color: $smart-yellow;
      }

      .subtitle {
        font-weight: bold;
        color: $smart-yellow;
      }

      ul,
      ol {
        margin-left: 1rem;
      }

      a {
        text-decoration: unset;
        color: $smart-yellow;
        font-weight: bold;
      }
    }
  }
}
