.header {
  background-color: #fff;
  position: fixed;

  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  z-index: 100;
  box-shadow: 0 0 10px #aaa;

  @media screen and (min-width: 768px) {
    height: $header-height-web;
  }

  .logo {
    width: 10rem;
    height: 100%;

    cursor: pointer;
  }

  .menu {
    width: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed;
    right: -12rem;
    top: $header-height;

    background-color: #fff;

    transition: 0.35s ease-in-out;
    z-index: -5;


    @media screen and (min-width: 768px) {
      flex-grow: 1;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: static;
    }

    &.ulp{
      right: -14rem;

    }

    &.active {
      right: 0;
      box-shadow: -3px 3px 4px -4px #aaa;
    }

    .item {
      line-height: $header-height;

      margin-bottom: 1rem;
      margin-left: 1rem;

      @media screen and (min-width: 768px) {
        line-height: $header-height-web;

        margin-bottom: 0;
        margin-left: 2rem;
      }

      &.highlight {
        color: #fff;
        position: relative;

        &::before {
          content: "";

          width: 140%;
          height: 2rem;

          background-color: $smart;
          border-radius: 1rem;

          position: absolute;
          left: -20%;
          top: calc((#{$header-height} - 2rem)/ 2);

          z-index: -1;

          @media screen and (min-width: 768px) {
            top: calc((#{$header-height-web} - 2rem) / 2);
          }
        }
      }

      &.lang {
        width: 2rem;
        height: 2rem;
        padding: 0.25rem;

        background-origin: content-box;
      }

      &:hover {
        box-shadow: unset;
      }

      &[data-scrolled-passed="true"] {
        text-shadow: 0 0 1px #000;

        position: relative;

        &::before {
          content: "";

          width: 2rem;
          height: 3px;

          background-color: $smart-yellow;

          position: absolute;
          top: 0.5rem;
          left: 0rem;

          @media screen and (min-width: 768px) {
            top: 1rem;
          }
        }
      }
    }
  }

  .menu-btn {
    width: $header-height;
    height: $header-height;

    line-height: 3rem;
    text-align: center;

    background-image: url("/images/client/menu.png");
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;

    padding: 0.5rem;

    transition: 0.35s ease-in-out;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.kh {
  .header {
    .menu {
      .item::before {
        @media screen and (min-width: 768px) {
          top: 0.5rem;
        }
      }
    }
  }
}
