.yip-home {
  width: 100vw;
  padding-top: $header-height;

  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding-top: $header-height-web;
  }

  .section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem $side-indent;

    position: relative;

    @media screen and (min-width: 768px) {
      padding: 2rem $side-indent-web;
    }

    &.border {
      position: relative;

      &::before {
        content: "";

        width: calc(100% - (#{$side-indent} * 3));
        height: 110%;

        position: absolute;
        top: 0;
        left: calc(#{$side-indent} * 1.5 - 3px);

        border: 3px solid $smart;
        border-top: unset;
        border-bottom: unset;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% - (#{$side-indent-web}));
          left: calc(#{$side-indent-web} / 2 - 3px);
        }
      }

      &.border-bottom {
        &::before {
          height: 50%;
          top: 60%;
        }
      }
    }

    .title-line {
      width: 8rem;
      height: 2px;

      background-color: $smart-yellow;

      margin: 1rem 0;
    }

    .section-title {
      width: calc(100vw - (#{$side-indent} * 2) - (2rem * 2));
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      color: #707070;
      letter-spacing: 3px;
      line-height: 3rem;

      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        width: auto;
      }
    }

    .small-section-title {
      width: 80%;
      text-align: center;
      font-weight: lighter;

      margin-top: -1rem;
      margin-bottom: 2rem;
    }

    .side-section-title {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        background-color: white;

        font-size: 2rem;
        text-transform: uppercase;
        color: rgba($color: #000000, $alpha: 0);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $smart;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 3rem;

        position: absolute;
        top: calc(50% - 1.5rem);

        padding: 0 0.5rem;

        z-index: 10;

        &::before {
          content: "";

          width: 80%;
          height: 200%;
          background-size: contain;
          background-position: center;
          background-origin: content-box;
          background-repeat: no-repeat;
          background-image: url("/images/yip/bg-shapes.png");

          position: absolute;

          z-index: -1;
        }

        &.left {
          left: calc(#{$side-indent-web} / 2 - 3px);
          transform: rotateZ(-90deg) translate(-50%, -1.5rem);
          transform-origin: top left;

          &::before {
            top: -50%;
            right: -20%;
          }
        }

        &.right {
          right: calc(#{$side-indent-web} / 2 - 3px);
          transform: rotateZ(90deg) translate(50%, -1.5rem);
          transform-origin: top right;

          &::before {
            top: -50%;
            left: -20%;

            transform: rotateZ(180deg);
          }
        }
      }
    }
  }

  .cover {
    height: 80vh;
    justify-content: center;

    background-color: #ccc;

    display: flex;
    flex-direction: row;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    position: relative;

    .item {
      width: 50%;
      height: 100%;

      color: #fff;

      &.left {
        display: flex;
        flex-direction: column;

        padding-top: 5rem;

        .row {
          width: 100%;

          display: flex;
          flex-direction: row;

          height: 3.6rem;

          margin-bottom: 2rem;

          .title {
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;

            line-height: 3.6rem;
          }

          .divider {
            height: 2.5rem;
            width: 3px;

            background-color: $smart-yellow;

            margin: 0 1rem;
            margin-top: 0.65rem;
          }

          .subtitle {
            line-height: 1.2rem;
            font-weight: lighter;
          }
        }

        .description {
          line-height: 1.5rem;
          font-weight: lighter;
        }

        .image {
          flex-grow: 1;

          width: 100%;

          margin-top: -2rem;
          margin-bottom: -2rem;
          background-position: center bottom;
        }
      }

      &.right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .btn {
          width: 14rem;
          height: 6rem;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          margin-bottom: 3rem;

          .text {
            color: #fff;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;

            margin-right: 1rem;
          }

          .icon {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }

  .why-smartstart {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .section-title {
      margin-bottom: 5rem;
    }

    .ctn {
      flex-grow: 1;
      width: 300%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      transition: 0.5s ease-in-out;
      transform: translateX(33.5%);

      position: relative;

      margin-top: 3rem;

      @media screen and (min-width: 768px) {
        width: 100%;
        transform: translateX(0);
      }

      &::before {
        content: "";
        width: calc(100% + (#{$side-indent} * 1.5));
        height: 100%;

        position: absolute;
        left: calc(-#{$side-indent} * 0.75);
        top: 0;

        background-color: $smart;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% + (#{$side-indent-web} * 1.5));
          left: calc(-#{$side-indent-web} * 0.75);
        }
      }

      .item {
        width: 33%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: #fff;

        padding: 2rem;
        padding-top: 0;
        margin-top: -8rem;

        .image {
          width: 100%;
          padding-bottom: 100%;

          background-position: center bottom;
        }

        .title {
          width: 100%;
          text-align: center;
          font-size: 1rem;
          letter-spacing: 3px;
          text-transform: uppercase;

          margin-top: 3rem;
          margin-bottom: 2rem;
        }

        .btn {
          width: 100%;
          height: 4rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .text {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }

  .stake {
    .ctn {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .image {
        width: 100%;
        padding-bottom: 80%;

        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          width: 40%;
          padding-bottom: 40%;

          background-image: none !important;

          position: relative;

          &::before {
            content: "";
            width: 180%;
            height: 120%;

            position: absolute;
            left: -35%;
            top: -10%;
            background-image: url("/images/hse/objective.png");
            background-size: contain;
            background-position: center;
            background-origin: content-box;
            background-repeat: no-repeat;

            z-index: -5;
          }
        }
      }

      .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        margin-top: 2rem 0;

        @media screen and (min-width: 768px) {
          width: 55%;

          margin: 0;
          padding: 0;
        }

        .title {
          width: 100%;

          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;

          margin-bottom: 1rem;
        }

        .text {
          width: 100%;

          // text-align: center;
          line-height: 1.5rem;

          margin-bottom: 1rem;
        }

        ol {
          margin-left: 1rem;
          li {
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  .process {
    width: 100%;

    .ctn {
      flex-grow: 1;
      width: 300%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      background-color: $smart;
      border-radius: 2rem;
      box-shadow: 0 0 10px $smart;

      transition: 0.5s ease-in-out;
      transform: translateX(36%);

      position: relative;

      margin-top: 5rem;

      @media screen and (min-width: 768px) {
        width: 100%;
        transform: translateX(0);
      }

      .item {
        width: 30%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: #fff;

        padding: 2rem;
        padding-top: 0;
        margin-top: -3rem;

        &.white {
          color: #707070;

          position: relative;

          &::before {
            content: "";

            position: absolute;
            width: 130%;
            height: 110%;

            background-color: #fff;
            border-radius: 2rem;
            box-shadow: 0 0 10px #aaa;

            left: -15%;
            top: -5%;

            z-index: -1;
          }
        }

        .image {
          width: 100%;
          padding-bottom: 120%;
        }

        .title {
          font-size: 1.2rem;
          letter-spacing: 3px;
          text-transform: uppercase;

          margin-top: 3rem;
          margin-bottom: 2rem;
        }

        .description {
          height: 4.5rem;
          line-height: 1.5rem;
          text-align: center;

          margin-bottom: 2rem;
        }

        .btn {
          width: 100%;
          height: 4rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .text {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
          }
        }
      }
    }

    .slider-btns {
      margin-top: 4rem;
    }
  }

  .requirements {
    .ctn {
      background-size: contain;
      background-position: center;
      background-origin: content-box;
      background-repeat: no-repeat;

      &.mobile {
        width: 100%;
        height: 40rem;

        padding: 2rem;

        padding-top: 0rem;
        margin-bottom: 0rem;

        position: relative;

        @media screen and (min-width: 768px) {
          display: none;
        }

        .item {
          background-color: #fff;
          border-radius: 1rem;

          line-height: 2rem;

          box-shadow: 0 0 10px #aaa;

          padding: 0.75rem;

          position: absolute;

          &.tl {
            width: 10rem;

            top: 8rem;
            left: -2rem;
          }

          &.tr {
            top: 0;
            right: 0;
          }

          &.bl {
            width: 18rem;

            bottom: 8rem;
            left: 0;
          }

          &.br {
            bottom: 0;
            right: 0;
          }
        }
      }

      &.web {
        width: 100%;
        height: 50rem;

        padding: 5vw 10vw;

        position: relative;

        display: none;

        @media screen and (min-width: 768px) {
          display: unset;
        }

        .item {
          background-color: #fff;
          border-radius: 1rem;

          line-height: 2rem;

          box-shadow: 0 0 10px #aaa;

          padding: 1rem;
          padding-left: 3rem;

          position: absolute;

          &::before {
            content: "";

            width: 1rem;
            height: 1rem;

            background-color: $smart;
            border-radius: 50%;

            position: absolute;
            top: 1.5rem;
            left: 1rem;
          }

          &.tl {
            width: 14rem;

            top: 3%;
            left: 20%;
          }

          &.tr {
            width: 21rem;

            top: 10%;
            right: 0;
          }

          &.bl {
            width: 20rem;

            bottom: 45%;
            left: 0%;
          }

          &.br {
            width: 22rem;
            bottom: 10%;
            right: -5%;
          }
        }
      }
    }
  }

  .apply {
    .content-ctn {
      width: 100%;

      color: #fff;

      padding: 3rem;
      position: relative;

      &::before {
        content: "";
        width: calc(100% + (#{$side-indent} * 1.5));
        height: 100%;

        position: absolute;
        left: calc(-#{$side-indent} * 0.75);
        top: 0;

        background-color: $smart;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% + (#{$side-indent-web} * 1.5));
          left: calc(-#{$side-indent-web} * 0.75);
        }
      }

      .section-title {
        color: #fff;
      }

      .small-section-title {
        width: 100%;
        text-align: center;

        margin-bottom: 5rem;

        @media screen and (min-width: 768px) {
          margin-bottom: 3rem;
        }
      }

      .ctn {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
        }

        .item {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          color: #fff;

          padding-top: 0;
          margin-top: -3rem;
          margin-bottom: 2rem;

          @media screen and (min-width: 768px) {
            width: 33%;
            padding: 2rem;
            padding-bottom: 0;

            margin-bottom: 0;
          }

          .image {
            width: 100%;
            padding-bottom: 120%;
          }

          .title {
            font-size: 1.2rem;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: center;

            margin-top: 3rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .awardee {
    position: relative;

    .content-ctn {
      width: 100vw;
      display: flex;
      flex-direction: row;

      padding: 0;

      transition: 0.5s ease-in-out;
      transform: translateX(0%);

      .item {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2rem $side-indent;

        @media screen and (min-width: 768px) {
          padding: 0 $side-indent-web;
        }

        .yellow-title {
          width: 80%;
          text-align: center;
          font-weight: lighter;
          font-size: 2rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: $smart-yellow;

          margin-bottom: 2rem;

          @media screen and (min-width: 768px) {
            font-size: 1.5rem;
          }
        }

        .ctn {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          flex-wrap: wrap;

          @media screen and (min-width: 768px) {
            height: 8rem;
          }

          .awardee {
            width: 40%;
            padding-bottom: 40%;

            border-radius: 50%;

            background-color: $smart;
            box-shadow: 0 0 10px #aaa;

            margin-bottom: 2rem;

            @media screen and (min-width: 768px) {
              width: 8rem;
              height: 8rem;

              padding-bottom: 0;

              margin-bottom: 0;
            }
          }
        }
      }
    }

    .slider-btns {
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
  }

  .apply-now {
    width: 100vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    @media screen and (min-width: 768px) {
      height: 60vh;
    }

    .title {
      width: 80vw;

      position: absolute;
      top: 2rem;
      left: 10%;

      // text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }

    .btn {
      width: 14rem;
      height: 6rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      // background-color: $smart;

      .text {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;

        margin-right: 1rem;
      }

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .partnership {
    .ctn {
      display: flex;
      flex-direction: row;

      padding-bottom: 5rem;

      font-size: 0.5rem;

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
      .item {
        display: flex;
        flex-direction: row;

        & + .item {
          margin-left: 1em;
        }

        .logo {
          width: 6em;
          height: 6em;

          & + .logo {
            margin-left: 1em;
          }

          &.CBRD {
            width: 17em;
          }

          &.smart {
            width: 9em;
          }
        }
      }
    }

    .tagline-ctn {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .tagline {
        line-height: 4rem;
        font-size: 1.2rem;
        color: #fff;
        background-color: $smart-yellow;

        padding: 0 2rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 50;


        @media screen and (min-width: 768px) {
          font-size: 1.8rem;
          margin-bottom: 5rem;

        }

        &::before {
          content: "";
          width: 30px;
          height: 30px;

          background-color: $smart-yellow;

          position: absolute;
          bottom: -10px;
          left: 0;

          transform: scale(-1, 1) skewY(35deg);

          z-index: -1;

        }
      }

      .logo{
        width: 70%;
        height: 6rem;

        background-size: contain;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;

        margin-bottom: 3rem;
      }
    }
  }

  .card {
    width: 100vw;
    height: 100vh;

    transform: translateY(100vh);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    transition: transform 0s linear 0.36s, opacity 0.35s ease-in-out;
    z-index: 1000;

    &.active {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0s linear, opacity 0.35s ease-in-out;
    }

    .backdrop {
      width: 100%;
      height: 100%;

      background-color: rgba($color: #333, $alpha: 0.2);

      position: absolute;
      top: 0;
      left: 0;
    }

    .content-ctn {
      width: 80vw;
      min-height: 10rem;

      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 0 10px #aaa;

      margin-top: 5rem;

      z-index: 1;
      position: relative;

      padding: 2rem;
      padding-top: 4rem;

      @media screen and (min-width: 768px) {
        padding: 3rem 10vw;
      }

      .close {
        width: 1.5rem;
        height: 1.5rem;

        background-size: contain;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-image: url("/images/client/menu-close.png");

        position: absolute;
        right: 1rem;
        top: 1rem;

        @media screen and (min-width: 768px) {
          top: 2rem;
          right: 2rem;
        }
      }

      .image {
        width: 6rem;
        height: 10rem;

        position: absolute;
        left: 1rem;
        top: -4rem;

        @media screen and (min-width: 768px) {
          width: 14vw;
          height: 20vw;

          top: -8vw;
          left: -2rem;
        }
      }

      .content {
        * + * {
          margin-top: 1rem;
        }

        .title {
          width: 100%;

          font-size: 2rem;
          color: #707070;
          text-transform: uppercase;
          letter-spacing: 2px;

          text-align: center;
          margin-bottom: 1rem;
        }

        .text {
          color: #707070;
          line-height: 1.5rem;
        }

        ol li {
          color: $smart;
          margin-left: 2rem;
        }
      }
    }
  }
}
