.yip-home-kh {
  .requirements {
    .ctn.mobile{
      .item.bl {
        width: 10rem !important;
      }

      .item.tl {
        width: 13rem !important;
      }
    }

    .ctn.web{
      .item.bl {
        width: 12rem !important;
      }

      .item.tr{
        width: 18rem !important;
      }
    }
  }
}
