.hse-home.kh{
  
  *{
    letter-spacing: normal !important;
  }

  .section{
    .subtitle{
      font-size: 1.2rem;
    }
  }

  .about-us{
    .ctn{
      .info{
        .text{
          line-height: 1.75rem;
        }
      }
    }
  }

  .stake{
    .ctn{
      .info{
        .text{
          line-height: 1.75rem;
        }

        ul li{
          line-height: 1.75rem;
        }
      }
    }
  }
}
