.hse-home {
  padding-top: $header-height;

  @media screen and (min-width: 768px) {
    padding-top: $header-height-web;
  }
  .section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem $side-indent;

    @media screen and (min-width: 768px) {
      padding: 2rem $side-indent-web;
    }

    &.border {
      position: relative;

      &::before {
        content: "";

        width: calc(100% - (#{$side-indent} * 3));
        height: 110%;

        position: absolute;
        top: 0;
        left: calc(#{$side-indent} * 1.5 - 3px);

        border: 3px solid $smart;
        border-top: unset;
        border-bottom: unset;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% - (#{$side-indent-web}));
          left: calc(#{$side-indent-web} / 2 - 3px);
        }
      }
    }

    .subtitle {
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .title-line {
      width: 8rem;
      height: 2px;

      background-color: $smart-yellow;

      margin: 1rem 0;
    }

    .section-title {
      width: calc(100vw - (#{$side-indent} * 2) - (2rem * 2));
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      color: #707070;
      letter-spacing: 3px;
      line-height: 3rem;

      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        width: auto;
      }
    }

    .small-section-title {
      width: 80%;
      text-align: center;
      font-weight: lighter;

      margin-top: -1rem;
      margin-bottom: 2rem;
    }
  }

  .cover {
    height: 80vh;
    justify-content: center;

    background-color: #ccc;

    text-align: center;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    position: relative;

    .title {
      display: flex;
      flex-direction: row;

      font-size: 3rem;
      line-height: 4rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5rem !important;
      color: #fff;

      @media screen and (min-width: 768px) {
        font-size: 4rem;
        letter-spacing: 1rem !important;
      }
    }

    .description {
      width: 100%;
      line-height: 2rem;
      text-transform: uppercase;
      letter-spacing: 3px;

      color: #fff;
      font-size: 1.2rem;
    }

    .btn {
      width: 14rem;
      height: 6rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      position: absolute;
      bottom: 5rem;
      left: calc(50% - 7rem);
      // background-color: $smart;

      .text {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;

        margin-right: 1rem;
      }

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .about-us {
    .ctn {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .image {
        width: 100%;
        padding-bottom: 80%;

        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          width: 40%;
          padding-bottom: 30%;

          background-image: none !important;
          position: relative;

          &::before {
            content: "";
            width: 180%;
            height: 120%;

            position: absolute;
            left: -35%;
            top: -10%;
            background-image: url("/images/hse/about-us.png");
            background-size: contain;
            background-position: center;
            background-origin: content-box;
            background-repeat: no-repeat;

            z-index: -5;
          }
        }
      }

      .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $smart;

        padding: 2rem;

        margin-top: 2rem;
        margin-bottom: 2rem;

        position: relative;

        @media screen and (min-width: 768px) {
          width: 50%;
        }

        &::before {
          content: "";
          width: 1.5rem;
          height: 3rem;

          background-color: $smart-yellow;

          position: absolute;
          top: -1.5rem;
          right: -0.75rem;
        }

        &::after {
          content: "";
          width: 5rem;
          height: 5rem;

          background-color: $smart;

          position: absolute;
          bottom: -1rem;
          left: 0;

          transform: scale(-1, 1) skewY(30deg);

          z-index: -5;
        }

        .text {
          width: 100%;

          color: #fff;
          text-align: left;
          line-height: 1.5rem;

          @media screen and (min-width: 768px) {
            // font-size: 1.2rem;
            // line-height: 2rem;
          }
        }
      }
    }
  }

  .stake {
    .ctn {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .image {
        width: 100%;
        padding-bottom: 80%;

        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          width: 50%;
          padding-bottom: 50%;

          background-image: none !important;

          position: relative;

          &::before {
            content: "";
            width: 180%;
            height: 120%;

            position: absolute;
            left: -35%;
            top: -10%;
            background-image: url("/images/hse/objective.png");
            background-size: contain;
            background-position: center;
            background-origin: content-box;
            background-repeat: no-repeat;

            z-index: -5;
          }
        }
      }

      .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        margin-top: 2rem;
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
          width: 45%;
        }

        .title {
          width: 100%;

          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;

          margin-bottom: 1rem;
        }

        .text {
          width: 100%;

          // text-align: center;
          line-height: 1.5rem;

          margin-bottom: 1rem;
        }

        ul {
          margin-left: 1rem;
          li {
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  .structure {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .section-title {
      margin-bottom: 5rem;
    }

    .ctn {
      flex-grow: 1;
      width: 300%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      transition: 0.5s ease-in-out;
      transform: translateX(33.5%);

      position: relative;

      @media screen and (min-width: 768px) {
        width: 100%;
        transform: translateX(0);
      }

      &::before {
        content: "";
        width: calc(100% + (#{$side-indent} * 1.5));
        height: 100%;

        position: absolute;
        left: calc(-#{$side-indent} * 0.75);
        top: 0;

        background-color: $smart;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% + (#{$side-indent-web} * 1.5));
          left: calc(-#{$side-indent-web} * 0.75);
        }
      }

      .item {
        width: 33%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: #fff;

        padding: 2rem;
        padding-top: 0;
        margin-top: -3rem;

        .image {
          width: 100%;
          padding-bottom: 120%;

          // background-color: #eee;
        }

        .title {
          font-size: 1.2rem;
          letter-spacing: 3px;
          text-transform: uppercase;

          margin-top: 3rem;
          margin-bottom: 2rem;
        }

        .btn {
          width: 100%;
          height: 4rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .text {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
          }

          .icon {
            width: 2rem;
            height: 1rem;

            background-color: #eee;
          }
        }
      }
    }
  }

  .benefits {
    .ctn {
      background-size: contain;
      background-position: center;
      background-origin: content-box;
      background-repeat: no-repeat;

      &.mobile {
        width: 100%;
        height: 60rem;

        padding: 2rem;

        padding-top: 0rem;
        margin-bottom: -5rem;

        position: relative;

        @media screen and (min-width: 768px) {
          display: none;
        }

        .item {
          background-color: #fff;
          border-radius: 1rem;

          line-height: 2rem;

          box-shadow: 0 0 10px #aaa;

          padding: 0.75rem;

          position: absolute;

          &.tl {
            width: 15rem;
            height: 7.5rem;

            top: 12rem;
            left: -2rem;
          }

          &.tr {
            top: 0;
            right: 0;
          }

          &.bl {
            width: 18rem;

            bottom: 13rem;
            left: 0;
          }

          &.br {
            bottom: 6rem;
            right: 0;
          }
        }
      }

      &.web {
        width: 100%;
        height: 50rem;

        padding: 5vw 10vw;

        position: relative;

        display: none;

        @media screen and (min-width: 768px) {
          display: unset;
        }

        .item {
          background-color: #fff;
          border-radius: 1rem;

          line-height: 2rem;

          box-shadow: 0 0 10px #aaa;

          padding: 1rem;
          padding-left: 3rem;

          position: absolute;

          &::before {
            content: "";

            width: 1rem;
            height: 1rem;

            background-color: $smart;
            border-radius: 50%;

            position: absolute;
            top: 1.5rem;
            left: 1rem;
          }

          &.tl {
            width: 22rem;

            top: 5%;
            left: 5%;
          }

          &.tr {
            width: 30rem;

            top: 3%;
            right: 0;
          }

          &.bl {
            width: 20rem;

            bottom: 40%;
            left: 0;
          }

          &.br {
            width: 17rem;
            bottom: 5%;
            right: 3%;
          }
        }
      }
    }
  }

  .who-can-apply {
    .ctn {
      width: 100%;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 1fr;
      gap: $side-indent;

      @media screen and (min-width: 768px) {
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

      .item {
        background-color: #fff;
        box-shadow: 0 0 10px #aaa;
        border-radius: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2rem;

        margin-top: 5rem;

        .image {
          width: 100%;
          padding-bottom: 100%;

          // background-color: #eee;
          background-size: 70%;

          margin-top: -7rem;
        }

        .divider {
          height: 1rem;
          width: 2px;

          background-color: $smart-yellow;

          margin: 0.5rem 0;
        }

        .title {
          text-align: center;
          // text-transform: uppercase;
          line-height: 1.5rem;
        }
      }
    }
  }

  .faq {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    padding-bottom: 5rem;

    .section-title {
      margin-bottom: 5rem;
    }

    .ctn {
      flex-grow: 1;
      width: 300%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      transition: 0.5s ease-in-out;
      transform: translateX(33.5%);

      position: relative;

      @media screen and (min-width: 768px) {
        width: 100%;
        transform: translateX(0);
      }

      &::before {
        content: "";
        width: calc(100% + (#{$side-indent} * 1.5));
        height: 100%;

        position: absolute;
        left: calc(-#{$side-indent} * 0.75);
        top: 0;

        background-color: $smart;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% + (#{$side-indent-web} * 1.5));
          left: calc(-#{$side-indent-web} * 0.75);
        }
      }

      .item {
        width: 33%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: #fff;

        padding: 2rem;
        padding-top: 0;
        margin-top: -3rem;

        .image {
          width: 100%;
          padding-bottom: 120%;

          background-color: #eee;
        }

        .title {
          font-size: 1.2rem;
          letter-spacing: 3px;
          text-transform: uppercase;

          margin-top: 3rem;
          margin-bottom: 2rem;
        }

        .btn {
          width: 100%;
          height: 4rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .text {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
          }

          .icon {
            width: 2rem;
            height: 1rem;

            background-color: #eee;
          }
        }
      }
    }
  }

  .apply-now {
    width: 100vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    @media screen and (min-width: 768px) {
      height: 60vh;
    }

    .title {
      width: 80vw;

      position: absolute;
      top: 2rem;
      left: 10%;

      // text-transform: uppercase;
      letter-spacing: 3px;
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }

    .btn {
      width: 14rem;
      height: 6rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      // background-color: $smart;

      .text {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;

        margin-right: 1rem;
      }

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .partnership {
    .ctn {
      display: flex;
      flex-direction: column;

      padding-bottom: 5rem;

      font-size: 0.6rem;

      @media screen and (min-width: 768px) {
        font-size: 1rem;
        flex-direction: row;
      }
      .item {
        display: flex;
        flex-direction: row;

        & + .item {
          margin-top: 1rem;
          
          @media screen and (min-width: 768px) {
            margin-left: 1em;
            margin-top: 0;
          }
        }

        .logo {
          width: 6em;
          height: 6em;

          & + .logo {
            margin-left: 1em;
          }

          &.CBRD {
            width: 17em;
          }

          &.KE {
            width: 15em;
          }

          &.smart {
            width: 9em;
          }
        }
      }
    }

    .tagline-ctn {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .tagline {
        line-height: 4rem;
        font-size: 1.2rem;
        color: #fff;
        background-color: $smart-yellow;

        padding: 0 2rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 50;

        @media screen and (min-width: 768px) {
          font-size: 1.8rem;
          margin-bottom: 5rem;
        }

        &::before {
          content: "";
          width: 30px;
          height: 30px;

          background-color: $smart-yellow;

          position: absolute;
          bottom: -10px;
          left: 0;

          transform: scale(-1, 1) skewY(35deg);

          z-index: -1;
        }
      }

      .logo {
        width: 70%;
        height: 6rem;

        background-size: contain;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;

        margin-bottom: 3rem;
      }
    }
  }
}
