.ulp-home {
  padding-top: $header-height;

  @media screen and (min-width: 768px) {
    padding-top: $header-height-web;
  }

  .section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem $side-indent;

    @media screen and (min-width: 768px) {
      padding: 2rem $side-indent-web;
    }

    &.border {
      position: relative;

      &::before {
        content: "";

        width: calc(100% - (#{$side-indent} * 3));
        height: 110%;

        position: absolute;
        top: 0;
        left: calc(#{$side-indent} * 1.5 - 3px);

        border: 3px solid $smart;
        border-top: unset;
        border-bottom: unset;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% - (#{$side-indent-web}));
          left: calc(#{$side-indent-web} / 2 - 3px);
        }
      }
    }

    .subtitle {
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .title-line {
      width: 8rem;
      height: 2px;

      background-color: $smart-yellow;

      margin: 1rem 0;
    }

    .section-title {
      width: calc(100vw - (#{$side-indent} * 2) - (2rem * 2));
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      color: #707070;
      letter-spacing: 3px;
      line-height: 3rem;

      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        width: auto;
      }
    }

    .small-section-title {
      width: 80%;
      text-align: center;
      font-weight: lighter;

      margin-top: -1rem;
      margin-bottom: 2rem;
    }
  }

  .cover {
    height: 80vh;
    justify-content: center;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    position: relative;

    * {
      z-index: 10;
    }

    .background {
      display: none;
      width: 100%;
      height: 100%;

      background-size: contain;
      background-position: 50% 100%;
      background-image: url("/images/ulp/cover.svg");

      position: absolute;
      top: 0;
      left: 0;

      z-index: unset;

      @media screen and (min-width: 768px) {
        display: flex;
        background-position: calc(100% + 5rem) 50%;
      }
    }
    .ctn {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 768px) {
        width: 28rem;
        align-items: flex-start;
      }

      .title {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;

        line-height: 3.6rem;

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      .logo{
        width: 100%;
        height: 3rem;

        background-position: left center;

        margin-bottom: 0.5rem;
      }

      .subtitle {
        color: #fff;
        font-size: 1rem;
        text-align: center;

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      .divider {
        width: 2px;
        height: 2rem;

        background-color: $smart-yellow;

        margin: 1rem 0;

        @media screen and (min-width: 768px) {
          margin-left: 12rem;
        }
      }

      .text {
        color: #fff;
        text-align: center;

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }
    }
  }

  .about {
    .ctn {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &.reverse {
          flex-direction: row-reverse;

          .image::before {
            width: 200%;

            left: unset;
            right: -70%;
          }

          .info {
            .text {
              text-align: left;
            }
          }
        }
      }

      .image {
        width: 100%;
        padding-bottom: 60%;

        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          width: 50%;
          padding-bottom: 50%;

          position: relative;
        }
      }

      .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        @media screen and (min-width: 768px) {
          width: 45%;
        }

        .title {
          width: 100%;

          font-size: 1.5rem;
          // font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-align: center;
          // color: #707070;

          margin-bottom: 2rem;
          position: relative;

          &::before {
            content: "";

            width: 2px;
            height: 1rem;
            background-color: $smart-yellow;

            position: absolute;
            left: 50%;
            bottom: -1.5rem;
          }
        }

        .text {
          width: 100%;

          line-height: 1.5rem;

          margin-bottom: 1rem;

          @media screen and (min-width: 768px) {
            // text-align: right;
          }
        }

        ul {
          margin-left: 1rem;
          li {
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  .objective {
    .ctn {
      display: flex;
      flex-direction: column;

      width: 100%;

      color: #fff;

      position: relative;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &::before {
        content: "";
        width: calc(100% + (#{$side-indent} * 1.5));
        height: 100%;

        position: absolute;
        left: calc(-#{$side-indent} * 0.75);
        top: 0;

        background-color: $smart;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% + (#{$side-indent-web} * 1.5));
          left: calc(-#{$side-indent-web} * 0.75);
        }
      }

      .image {
        width: 100%;
        padding-bottom: 80%;

        margin-bottom: 1rem;
        position: relative;
        left: -5%;

        @media screen and (min-width: 768px) {
          width: 50%;
          padding-bottom: 50%;

          background-image: none !important;

          position: relative;

          &::before {
            content: "";
            width: 120%;
            height: 120%;

            position: absolute;
            left: -10%;
            top: -10%;
            background-image: url("/images/ulp/objective.svg");
            background-size: contain;
            background-position: center;
            background-origin: content-box;
            background-repeat: no-repeat;

            z-index: -5;
          }
        }
      }

      .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        margin-top: 2rem;
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
          width: 45%;
        }

        .title {
          width: 100%;

          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;

          margin-bottom: 1rem;
        }

        .text {
          width: 100%;

          // text-align: center;
          line-height: 1.5rem;

          margin-bottom: 1rem;
        }

        ul {
          margin-left: 1rem;
          li {
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  .testimonials {
    .ctn {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &.reverse {
          flex-direction: row-reverse;
        }
      }

      .image-ctn {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
          width: 40%;
        }

        .border-ctn {
          width: calc(15rem + 6px);
          height: calc(18rem + 6px);

          background-color: $smart;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);

          .image {
            width: 15rem;
            height: 18rem;

            background-size: cover;

            // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
          }
        }
      }

      .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        @media screen and (min-width: 768px) {
          width: 60%;
        }

        .name {
          width: 100%;

          font-size: 1.5rem;
          letter-spacing: 2px;
          text-transform: uppercase;
          line-height: 2rem;

          color: #707070;

          margin-bottom: 2.5rem;
          position: relative;

          @media screen and (min-width: 768px) {
            text-align: right;
          }

          &.t1::before {
            content: "01";
          }

          &.t2::before {
            content: "02";
          }

          &::before {
            font-size: 8rem;
            color: $smart;
            font-weight: bold;

            position: absolute;
            top: 0;
            left: -0;

            opacity: 0.2;

            @media screen and (min-width: 768px) {
              left: unset;
              right: -0.5rem;
            }
          }

          span {
            color: $smart-yellow;
            font-weight: bold;
          }
        }

        .text {
          width: 100%;

          line-height: 1.5rem;

          margin-bottom: 1rem;

          @media screen and (min-width: 768px) {
            // text-align: right;
          }
        }
      }
    }
  }

  .partner {
    .ctn {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;

      color: #fff;

      position: relative;

      &::before {
        content: "";
        width: calc(100% + (#{$side-indent} * 1.5));
        height: 100%;

        position: absolute;
        left: calc(-#{$side-indent} * 0.75);
        top: 0;

        background-color: $smart;
        border-radius: 2rem;
        box-shadow: 0 0 10px $smart;

        z-index: -5;

        @media screen and (min-width: 768px) {
          width: calc(100% + (#{$side-indent-web} * 1.5));
          left: calc(-#{$side-indent-web} * 0.75);
        }
      }

      .image {
        width: 100%;
        padding-bottom: 80%;

        margin-bottom: 1rem;
        position: relative;

        @media screen and (min-width: 768px) {
          width: 60%;
          padding-bottom: 30%;

          position: relative;
        }
      }

      .partners {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        flex-wrap: wrap;

        .item {
          width: 45%;
          height: 8rem;

          display: flex;
          flex-direction: column;
          align-items: center;

          margin-bottom: 2rem;
          position: relative;

          @media screen and (min-width: 768px) {
            width: 30%;
          }

          &::before {
            content: "";

            width: 100%;
            height: 70%;
            background-color: #fff;
            border-radius: 1rem;

            position: absolute;
            bottom: 0;
            left: 0;

            z-index: -1;
          }

          .logo {
            width: 100%;
            height: calc(100% - 2rem);

            background-size: contain;
            background-position: center;
            background-origin: content-box;
            background-repeat: no-repeat;

            padding: 0.5rem;
          }

          .text {
            width: 100%;
            height: 1.6rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
              text-align: center;
              font-size: 0.8rem;
              line-height: 0.8rem;
              color: #404040;
              // text-transform: capitalize;

              padding: 0 1rem;
            }
          }
        }
      }
    }
  }

  .partnership {
    background-color: #fff;
    .ctn {
      display: flex;
      flex-direction: row;

      padding-bottom: 5rem;

      font-size: 0.5rem;

      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
      .item {
        display: flex;
        flex-direction: row;

        & + .item {
          margin-left: 1em;
        }

        .logo {
          width: 6em;
          height: 6em;

          & + .logo {
            margin-left: 1em;
          }

          &.CBRD {
            width: 17em;
          }

          &.smart {
            width: 9em;
          }
        }
      }
    }

    .tagline-ctn {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .tagline {
        line-height: 4rem;
        font-size: 1.2rem;
        color: #fff;
        background-color: $smart-yellow;

        padding: 0 2rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 50;

        @media screen and (min-width: 768px) {
          font-size: 1.8rem;
          margin-bottom: 5rem;
        }

        &::before {
          content: "";
          width: 30px;
          height: 30px;

          background-color: $smart-yellow;

          position: absolute;
          bottom: -10px;
          left: 0;

          transform: scale(-1, 1) skewY(35deg);

          z-index: -1;
        }
      }

      .logo {
        width: 70%;
        height: 6rem;

        background-size: contain;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;

        margin-bottom: 3rem;
      }
    }
  }
}
